.chat-page {
    padding: 0 8px 0;
    background-color: #e7ebf0;
}

.chat-page__message-list {
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.chat-page__main {
    margin-top: 48px;
    height: calc(100vh - 48px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
