* {
    box-sizing: border-box;
    font: 13px/18px Tahoma, sans-serif, Arial, Helvetica;
}

body {
    font-family: sans-serif;
    background-color: rgba(231, 235, 240, 0.43);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
}

html {
    height: 100%;
}

@media (max-width: 800px) {
    html {
        overflow: hidden;
    }

    body {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background-color: #e7ebf0;
    }
}
