* {
    box-sizing: border-box;
    font: 13px/18px Tahoma, sans-serif, Arial, Helvetica;
}

body {
    font-family: sans-serif;
    background-color: rgba(231, 235, 240, 0.43);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}
